doctype html
html
  head
    title html mail template
    link(rel='stylesheet' href='../.tmp/css/template.css')
  body
    h1 html mail template
    p this is html template
    p
      img(src='https://example.com/images/sample.jpg')
