extends template/_base_ja

block var_title
  - var title = 'html mail template'

block content
  h1 html mail template
  p this is html template
  p
    img(src='https://example.com/images/sample.jpg')
