block var_lang
  - var lang = ''

block var_title
  - var title = ''

block var_css
  - var css = ''

doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='#{lang}')
  head
    meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    title #{title}
    link(rel='stylesheet' href='#{css}')
  body
    include ../include/_header

    table.l-content(cellpadding='0' cellspacing='0' align='center')
      tr
        td
          block content

    include ../include/_footer
